/* Global Rules */
* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

:root {
    --secondaryColor: #ac9451;
    --grayWhite: #d7d7d7;
}

/* Body design */
body {
    max-width: 1350px;
    margin: 0 auto;
}

/* Navigation section design */
nav {
    position: relative;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 0 40px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.logo>img {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}

.menu>li>a {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.navBtn {
    color: #000;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
    border: 0;
}

.hamburger {
    display: none;
}

/* Mobile Navigation */
.mobileNav {
    display: none;
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.836);
    text-align: center;
}

.mobileNav li {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.mobileNav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.mobileNav>.navBtn {
    font-size: 12px;
    padding: 10px 20px;
    margin: 5px 0;
}

/* Banner section design */
.banner {
    height: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D7D7D7;
}

.bannerContent {
    width: 50%;
    padding-left: 40px;
}

.bannerText {
    color: #000;

}

.bannerText h3 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.bannerText h1 {
    color: #000;
    font-size: 42px;
    font-weight: 900;
    font-family: 'Montserrat';
}

.bannerText p {
    color: #909090;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.iconBox>i {
    width: 60px;
    height: 55px;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    margin-right: 20px;
    cursor: pointer;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bannerImage {
    text-align: center;
    background-color: #000;
    width: 50%;
    height: 100%;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}

.bannerImage img {
    margin-top: 30px;
    padding-top: 50px;
    background-color: #000;
    width: 400px;
    height: auto;
    object-fit: cover;
    /* animation-name: imgnim;
    animation-duration: 1.3s;
    animation-iteration-count: infinite; */
}

/* @keyframes imgnim {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 5px;
    }
    100% {
        margin-top: 0;
    }
} */

/* About Section Layout */

.about {
    text-align: center;
    color: #fff;
    padding: 40px;
    background-color: #000;
}


.aboutText {
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.aboutText>p {
    text-align: justify;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 138.682%;
}
.profile-section {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
    padding: 2px;
    border: 2px solid var(--secondaryColor);
}
.profile-name {
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat";
    color: var(--secondaryColor);
}

.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 20px;
}

.interest img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.interest>p {
    font-size: 12px;
    font-weight: 800;
}

.right-side {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.stat {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.stat-value {
    font-size: 32px;
    font-weight: bold;
    color: #fdd835;
    font-family: "Montserrat";
}

.stat-label {
    font-size: 16px;
}
.aboutBtn {
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* Skills Section Layout */
.allSkills {
    width: 900px;
    margin: auto;
    padding: 0 10px;
}

.headingBox {
    text-align: center;
    padding: 60px 0;
}

.headingBox h2 {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 10px;
}

.headingBox p {
    font-size: 20px;
}

.skillBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr;
    place-items: center;

}


.skillsIcon {
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    align-self: baseline;
}
.skillsIcon img {
    width: 60px;
    height: 100%;
    object-fit: cover;
}

.skillTitle {
    margin-top: 5px;
    padding: 2px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

.skillsHeading {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 50px;
}

.toolBox {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    column-gap: 80px;
}

.toolBox>.skillsIcon {
    width: 100px;
}

.toolBox>.skillsIcon>img {
    width: 70%;
}

/* Project Section Design */
.projectBox {
    background-color: #000;
}

.projectBox>.headingBox {
    color: #fff;
    text-align: left;
    padding: 50px;
    width: 600px;
}

.projectBox>.headingBox h2 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: var(--secondaryColor);
}

.projectBox>.headingBox p {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.projectCard {
    /* Project Card Design */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    column-gap: 50px;
    padding: 20px 40px 40px;
    margin-top: 40px;
    border-bottom: 2px solid #4848488a;
}

.projectImage {
    padding: 40px;
    border-radius: 10px;
    background-color: #1A1A1A;
}

.projectImage img {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}

.projectContent {
    font-family: "Manrope", sans-serif;
    color: #fff;
}

.projectContent h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--secondaryColor);
}

.projectContent p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--grayWhite);
}

.projectContent h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--grayWhite);
}

.projectContent table {
    width: 90%;
    margin-bottom: 15px;
    border-collapse: collapse;
}

.projectContent table tr {
    border: 0;
    border-bottom: 1px solid #484848;
}

.projectContent table tr td {
    padding: 10px 10px 10px 0;
    width: 50%;
}

.projectContent table td:nth-last-child(1) {
    text-align: right;
}

.projectContent a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 800;
    color: #ac9451;
}

.exploreHead {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    text-align: center;
    position: relative;
    margin: 50px 0 100px;
}

.exploreHead::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/elements/separatorBlock.png);
    background-repeat: no-repeat;
    background-position: center;
}

.exploreContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 50px;
}

.eCard {
    padding: 20px 60px;
    flex: 0 1 calc(50% - 50px);
    padding: 20px;
}

.eCard:nth-last-child(1) {
    flex: 0 1 100%;
    max-width: calc(50% - 20px);
}

.eCard>.eCardHead {
    position: relative;
}

.eCardHead h4 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.eCard>.eCardHead img {
    position: absolute;
    top: -10px;
    left: -40px;
}
.eCard>p {
    font-size: 16px;
    font-weight: 500;
}

.eCard:nth-child(3)>.eCardHead img {
    top: -20px;
}

/* Experience Section Layout Styling */
.experienceBox {
    background-color: #000;
    padding: 50px;
}

.experienceBox>.exploreHead,
 .educationBox>.exploreHead {
    color: var(--secondaryColor);
    margin: 0 0 100px;
}

.experienceBox>.exploreHead::after,
 .educationBox>.exploreHead::after {
    filter: invert();
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.xpCard {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.xpJobTitle {
    font-size: 20px;
    font-weight: 700;
}
.xpCardJobDetails {
    display: flex;
    justify-content: space-between;
}

.xpCardCompany {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: #fff;
    background: #000;
    padding-right: 20px;
    border-radius: 30px;
    border: 2px solid #000;
}

.companyIcon {
    width: 40px;
    padding: 5px 5px 2px;
    background: #fff;
    border-radius: 50%;
}

.companyIcon img {
    width: 100%;
    object-fit: cover;
}

.companyDetails h6 {
    font-size: 15px;
    font-weight: 700;
    color: var(--secondaryColor);
}

.companyDetails p {
    font-size: 10px;
    margin-top: 5px;
}

.companyDetails p>i {
    font-size: 8px;
    color: var(--secondaryColor);
}

.xpCardDate {
    background-color: #fcefcc;
    height: 28px;
    padding: 7px 10px 0px;
    border-radius: 15px;
}

.xpCardDate>p {
    font-size: 10px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}

.xpJopTitle {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.xpJopTitle img {
    overflow: hidden;
    width: 30px;
}

.xpJopTitle>h3>span {
    margin-left: 10px;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    color: #018C0F;
    background-color: #D7FFE0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
}

.xpJobDescription {
    margin-top: 20px;
    margin-left: 5px;
}

.xpJobDescription>ul>li {
    list-style: none;
    position: relative;
    padding-left: 30px;
    font-size: 12px;
    font-family: 'Manrope';
    font-weight: 600;
    margin-bottom: 5px;
}

.xpJobDescription>ul>li::before {
    content: "\f101";
    color: var(--secondaryColor);
    font-family: "FontAwesome";
    font-size: 10px;
    position: absolute;
    top: 4px;
    left: 0;
    display: inline-block;
    width: 20px;
    text-align: center;
}
/* Education Section Layout */
.educationBox {
    margin-top: 150px;
}
.educationContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.eduCard {
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}
.eduContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.eduDate {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #000;
}
.eduDate p {
    color: var(--secondaryColor);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.eduGrad {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px 15px 5px 10px;
    background-color: #fcefcc;
    border-radius: 15px;
}
.eduGrad img {
    width: 20px;
}
.eduGrad p {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 12px;
}
.eduTag {
    font-size: 15px;
    font-weight: 700;
    background-color: var(--grayWhite);
    width: max-content;
    padding: 5px 15px;
    border-radius: 15px 15px 15px 0;
}
.eduTitle {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat';
}
.eduDetails {
    font-size: 15px;
    font-weight: 600;
}
.eduDetails>i {
    background-color: var(--grayWhite);
    padding: 7px;
    border-radius: 15px;
    font-size: 10px;
    color: var(--secondaryColor);
}
.eduTag, .eduTitle, .eduDetails {
    margin-bottom: 15px;
}
/* Resume section layout style */
.resumeBox {
    margin-top: 150px;
    padding-bottom: 50px;
}
.resumeBox h3 {
    font-size: 42px;
    font-weight: 800;
    color: var(--secondaryColor);
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 7px 5px 0px rgb(81 60 0 / 45%);
    font-family: 'Montserrat';
}
.resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #181818;
    padding: 50px 10px;
    border-radius: 15px;
}
.resumeContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid var(--secondaryColor);
}
.resumeTitle {
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat';
    color: var(--secondaryColor);
    font-weight: 700;
}
.resumeText {
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
    color: var(--grayWhite);
}
#resumeBtn1 {
    background-color: #ac94511f;
    color: var(--secondaryColor);
    margin-right: 10px;
}
#resumeBtn2 {
    background-color: #ac9451;
    color: #000;
    margin-left: 10px;
}
.resumeBtn {
    border: 1px solid var(--secondaryColor);
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}
/* Clients Logo Slider Layout */
.logoSlider {
    padding: 0 0 100px;
    background-color: #000;
}
.logoSlider>.exploreHead {
    margin: 0px 0 100px;
    color: var(--secondaryColor);
}
.logoSlider>.exploreHead::after {
    filter: invert();
}
#gallery, .slick-initialized, .slick-slider{
    display: flex !important;
    justify-content: center !important;
    align-items: baseline !important;
    
}

.slick-slide {
    margin: 0 2rem;
    background-color: #fff;
    border-radius: 10px;
}
.slick-slide>img {
    width: 100% !important;
    height: 100px !important;
    object-fit: contain !important;
    overflow: hidden;
}

/* Footer Design Layout */
footer {
    background-color: #000;
    padding: 20px;
}
footer>h3 {
    text-align: center;
    color: var(--secondaryColor);
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: 'Montserrat';
}
/* Social Icon Design */
.contactContainer {
    width: 700px;
    margin: 0 auto;
}
.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.social a,
.contactInfo a {
    text-decoration: none;
    color: #000;
}
.socialIcon {
    width: 38px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--grayWhite);
    padding: 4px;
    border-radius: 20px;
    transition: width 1s;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
.socialIcon:hover {
    width: 125px;
    padding: 2px 15px 2px 4px;
}
.socialIcon> img {
    width: 30px;
}
.socialIcon > p {
    opacity: 0;
    font-weight: 700;
    font-size: 15px;
    transition: opacity .5s;
    text-align: center;
    width: 95px;
}
.socialIcon:hover > p {
    opacity: 1;
}
#linkedin {
    color: #0069ab;
}
#facebook {
    color: #0288d1;
}
#whatsapp {
    color: #40c351;
}
#telegram {
    color: #0098bd;
}
#skype {
    color: #00bdd7;
}

/* Contact Icon */
.contactInfo {
    text-align: center;
}
.contactInfo>img {
    height: 150px;
    object-fit: cover;
}
.contactIcon {
    margin: 20px auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--grayWhite);
    padding: 4px 15px 4px 8px;
    border-radius: 20px;
    cursor: pointer;
}
.contactIcon img {
    width: 30px;
}
.contactIcon p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
/* Small Footer Section Design */
.smallFooter {
    margin-top: 100px;
    padding: 5px 30px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
    border-radius: 25px;
}
.smallFooter>p {
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat";
}
.smallContent {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.smallContent img {
    width: 40px;
}

.smallContent>p {
    font-weight: 500;
    font-family: "Montserrat";
}



















/* Small Pc Design */
@media only screen and (max-width: 1100px) {
    .navContent {
        background-color: #1d1d1d;
        padding: 20px 30px 10px 60px;
    }

    .bannerContent {
        padding-left: 60px;
    }

    .bannerText h3 {
        margin-bottom: 15px;
    }

    .bannerText h1 {
        font-size: 36px;
    }

    .projectContent p {
        font-size: 14px;
    }

    .exploreContent {
        justify-content: space-evenly;
        gap: 0px;
        row-gap: 30px;
    }

    .eCard {
        flex: 0 1 calc(50% - 100px);
        padding: 20px 0;
    }
}

/* Tablet Design */
@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .navContent {
        padding: 10px 40px;
    }

    .hamburger {
        display: block;
        font-size: 20px;
        color: #fff;
    }

    .mobileNav.active {
        display: block ;
    }

    .banner {
        flex-direction: column-reverse;
        max-width: 100%;
        height: 540px;
        position: relative;
        background-color: transparent;
    }

    .bannerImage {
        width: 100%;
        z-index: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .bannerContent {
        display: flex;
        gap: 25px 10px;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        height: 200px;
        padding-left: 0;
        padding: 20px 40px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.56);
        clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);

    }

    .bannerText h3 {
        font-size: 20px;
        margin-bottom: 5px;
        color: #fff;
    }

    .bannerText h1 {
        font-size: 28px;
        font-weight: 800;
        color: #fff;
    }

    .bannerText p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 5px;
    }

    .iconBox {
        display: flex;
        flex-direction: column;
    }

    .iconBox>i {
        width: 10px;
        height: 10px;
        font-size: 26px;
        color: #fff;
        padding: 5px;
        margin-bottom: 35px;
        margin-right: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .bannerImage img {
        margin-top: 70px;
        padding-top: 0;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .about {
        text-align: center;
    }

    .profile-section {
        flex-direction: column;
    }
    .left-side {
        align-items: center;
        margin-bottom: 30px;
    }
    .interests {
        justify-content: center;
    }
    .right-side {
        margin: auto;
    }

    .headingBox p {
        font-size: 16px;
    }

    .allSkills {
        width: 100%;
    }
    .skillsIcon img {
        width: 45px;
    }
    .skillTitle {
        font-size: 12px;
    }
    .toolBox {
        column-gap: 20px;
    }

    .projectBox>.headingBox {
        text-align: center;
        width: 100%;
    }

    .projectCard {
        column-gap: 20px;
        padding: 20px;
    }

    .projectImage {
        padding: 20px;
    }

    .projectContent h4 {
        font-size: 18px;
        font-weight: 700;
    }

    .projectContent p {
        font-size: 12px;
    }

    .projectContent table tr td {
        font-size: 12px;
    }

    .exploreHead {
        font-size: 28px;
    }

    .eCard {
        flex: 0 1 calc(50% - 80px);
    }
    .eCard>p {
        font-size: 13px;
    }

    .experienceBox {
        padding: 50px 10px;
    }
    .educationContent {
        flex-wrap: wrap;
    }
    .eduCard {
        flex: unset;
    }
    footer>h3 {
        font-size: 26px;
    }
    .contactContainer {
        width: auto;
    }

}

/* Mobile Design */
@media only screen and (max-width: 430px) {
    .navContent {
        padding: 5px 20px;
    }

    .bannerContent {
        height: 180px;
        padding: 20px 25px;
    }

    .bannerImage img {
        margin-top: 40px;
    }
    .bannerText h1 {
        font-size: 22px;
    }
    .bannerText p {
        font-size: 12px;
    }

    .about {
        padding: 20px 10px;
    }
    .right-side {
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutText {
        padding: 10px;
    }
    .headingBox {
        padding: 40px 10px;
    }
    .headingBox h2 {
        font-size: 24px;
    }
    .headingBox p {
        font-size: 16px;
    }
    .skillBox {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;

    }
    .skillBox .skillsIcon:nth-last-child(2) {
        grid-column: 2;
    }

    .skillBox .skillsIcon:nth-last-child(1) {
        grid-column: 3;
    }

    .skillsIcon {
        padding: 5px;
        align-self: unset;
    }
    .skillsIcon img {
        width: 30px;
    }

    .skillTitle {
        font-size: 12px;
    }

    .skillsHeading {
        font-size: 15px;
        margin-left: 10px;
        text-align: center;
    }

    .toolBox {
        margin-left: 10px;
        justify-content: center;
        column-gap: 10px;
    }

    .toolBox>.skillsIcon {
        width: 80px;
    }

    .toolBox>.skillsIcon>img {
        width: 40%;
    }
    .projectBox>.headingBox {
        padding: 30px 10px;
    }
    .projectCard {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0;
    }

    .projectContent {
        padding: 10px;
        margin-top: 20px;
    }

    .projectContent table {
        width: 100%;
    }

    .projectContent a {
        font-size: 12px;
    }

    .eCard {
        flex: 1 1 100%;
        padding: 20px 10px 0 45px;
    }

    .eCard:nth-last-child(1) {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .exploreHead {
        font-size: 25px;
        margin: 30px 0 55px;
    }

    .exploreHead::after {
        background-size: 30%;
    }

    .xpCard {
        padding: 10px 5px 30px;
    }

    .xpCardCompany {
        gap: 6px;
        padding-right: 10px;
    }

    .companyIcon {
        width: 30px;
        padding: 3px 3px 0px;
    }

    .companyDetails h6 {
        font-size: 12px;
        font-weight: 800;
    }

    .companyDetails p {
        font-size: 8px;
        margin-top: 2px;
    }

    .xpJopTitle>h3>span {
        margin-left: 5px;
        font-size: 8px;
        padding: 5px 8px;
    }
    .xpJobDescription {
        margin-left: 0px;
    }
    .xpJobDescription>ul>li {
        padding-left: 20px;
        font-size: 11px;
        margin-bottom: 3px;
    }
    .educationBox {
        margin-top: 80px;
    }
    .eduCard {
        flex: 1;
    }
    .eduDate {
        font-size: 10px;
    }
    .eduGrad img {
        width: 15px;
    }
    .eduGrad p {
        font-size: 10px;
    }
    .eduTag {
        font-size: 10px;
    }
    .eduTitle {
        font-size: 17px;
    }
    .eduDetails {
        font-size: 12px;
    }
    .resumeBox {
        margin-top: 100px;
        padding-bottom: 0;
    }
    .resumeBox h3 {
        font-size: 28px;
    }
    .resumeTitle {
        font-size: 26px;
    }
    #resumeBtn1 {
        margin-right: 0;
    }
    .resumeBtn {
        padding: 10px 15px;
    }
    .logoSlider {
        padding: 0 0 40px;
    }
    .logoSlider>.exploreHead {
        margin: 0px 0 40px;
    }
    .slick-slide {
        margin: 0 .5rem;
    }
    footer>h3 {
        font-size: 20px;
    }
    .contactIcon img {
        width: 20px;
    }
    .contactIcon p {
        font-size: 12px;
    }
    .smallFooter {
        padding: 5px 14px 5px 5px;
    }
    .smallContent {
        gap: 5px;
    }
    .smallContent img {
        width: 25px;
    }
    .smallContent>p {
        font-size: 10px;
    }
    .smallFooter>p {
        font-size: 8px;
    }
}

/* Small Mobile Design */
@media only screen and (max-width: 321px) {
    .banner {
        height: 400px;
    }

    .bannerText h3 {
        font-size: 17px;
        margin-bottom: 5px;
        color: #fff;
    }

    .bannerText h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .bannerText p {
        font-size: 12px;
        margin-bottom: 0;
    }

    .headingBox h2 {
        font-size: 20px;
    }

    .headingBox p {
        font-size: 12px;
    }
    .experienceBox>.exploreHead,
    .educationBox>.exploreHead {
        margin: 0 0 50px;
    }
    .exploreHead {
        font-size: 20px;
    }
    .exploreHead::after {
        top: 25px;
    }

    .skillBox {
        grid-template-columns: repeat(3, 1fr);

    }

    .skillBox .skillsIcon:nth-last-child(2) {
        grid-column: unset;
    }

    .skillBox .skillsIcon:nth-last-child(1) {
        grid-column: 2;
    }
    .skillsIcon {
        align-self: baseline;
    }
    .xpCardJobDetails {
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .smallFooter {
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
    }
}